@media screen and (max-width: 500px) {
  #desktop {
    width: 100% !important;
    height: calc(100vh - 40px) !important;
    top: 0 !important;
    left: 0 !important;
    border: none !important;
  }

  .windows {
    /* Liberamos el ancho interno */
    max-width: 100% !important;
    min-width: 100% !important;
  }

  .main-content {
    /* El sidebar se pone arriba del contenido */
    flex-direction: column;
    overflow-y: auto;
  }

  .navigation {
    width: 100%; /* El sidebar ahora ocupa todo el ancho */
    border-right: none;
    border-bottom: 2px inset #333333;
    height: auto;
  }

  #dynamic-content {
    height: auto; /* Que crezca según el contenido */
    padding: 8px; /* Un poco menos de espacio para aprovechar la pantalla */
  }

  .start-button {
    width: 26%;
  }
}
