* {
  /* El padding y borde se quedan DENTRO del tamaño */
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*///////////////////*/
/*////ESCRITORIO////*/
/*/////////////////*/
body {
  justify-content: center;
  align-items: center;
  height: 100%;
  margin: 0;
  font-family: "courier new";
  background-color: rgb(99, 157, 161);
}

body img {
  user-select: none;
}

.app-escritorio {
  margin: 30px;
  gap: 5px;
  display: flex;
  flex-direction: column;
  width: fit-content;
  text-align: center;
  user-select: none;
}

.app-escritorio figure {
  padding: 4px 0px 0px 2px;
}
.app-escritorio img {
  width: 4vh;
}

.app-escritorio figcaption {
  margin-bottom: 20px;
  width: 100px;
  word-wrap: break-word;
  line-height: 1.2;
}

.app-escritorio figure:hover {
  background-color: rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

/*///////////////////////////*/
/*///VENTANA DE CONTENIDO///*/
/*/////////////////////////*/
#desktop {
  width: 69%;
  height: 83vh;
  padding: 5px;
  display: flex;
  flex-direction: row;
  background-color: #bdbdbd;
  display: flex;
  flex-direction: column; /*--> Alinea los hijos verticalmente */
  position: absolute;
  z-index: 10; /*->SE SOBREPONE ANTE LOS DEMAS CONTENIDOS*/
  top: 50px;
  left: 50px;
  margin: 0;
  display: none;
  border-left: 3px solid #e7e7e7;
  border-top: 2px solid #e7e7e7;
  border-bottom: 3px solid #333333;
  border-right: 3px solid #333333;
}

.windows {
  background-color: #c0c0c0;
  max-width: 86%;
  min-width: 86%;
  display: flex;
}

.main-content {
  display: flex;
  gap: 5px; /* ->Espacio entre sidebar y ventana */
  padding: 5px;
}

#dynamic-content {
  height: 77vh; /* ->Ajusta esta altura según el tamaño de tu ventana */
  overflow-y: auto; /*->AUTO aparce el scroll solo si es necesario*/
  overflow-x: hidden;
  scrollbar-width: none;
  background-color: #d1cfcf;
  border-top: 2px inset #333333;
  border-left: 2px inset #333333;
  box-shadow: inset 2px 0 0 0 #e9e9e9;
  padding: 12px;
  flex: 1;
  border-right: 2px solid #555555;
  box-shadow: inset 2px 0 0 0 #e9e9e9;
  border-bottom: 1px solid #5a5a5a;
}

#btn-cerrar {
  background-color: transparent;
  border: none;
}

.icons-barra-superiror {
  background-color: #929292;
  border-top: 2px solid #dbdbdb;
  border-left: 2px solid #dbdbdb;
  border-bottom: 1px solid #5e5e5e;
  border-right: 1px solid #5e5e5e;
  width: 24px;
}

.icons-barra-superiror:hover {
  background-color: #b8b6b6;
  border-top: 1px solid #5e5e5e;
  border-left: 1px solid #4d4d4d;
  border-bottom: 2px solid #dbdbdb;
  border-right: 2px solid #dbdbdb;
  cursor: pointer;
}

.linea-dinamica {
  position: absolute;
  left: 100%;
  bottom: -3px;
  height: 3px; /* Grosor de la línea */
  background-color: #4e4e4e;
  border-bottom: 1px solid #ffffff;
  pointer-events: none;
  z-index: 5;
}

.title-bar {
  display: table-row;
  background-color: #363b81;
  color: #fff;
  padding: 4px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: grab;
  min-height: 35px;
  user-select: none;
}

#windows-title {
  display: flex;
  background-color: #363b81;
  color: #fff;
  padding: 4px;
  font-weight: bold;
  justify-content: center;
}

#Windows-title,
#windows-title {
  text-align: start;
}

.title-bar-text {
  flex: 1;
}

.windows_body {
  padding: 8px;
  flex: 1;
}
.navigation {
  position: relative;
  width: 15%;
  border-right: 2px solid #dddddd;
  box-shadow: inset -1px 0 0 0 #808080;
  border-bottom: 2px solid #dddddd;
  border-top: 2px solid #333333;
  border-left: 2px solid #333333;
}

.navigation ul {
  list-style: none;
  padding: 0;
  margin: 0;
  background-color: transparent;
}

.navigation summary {
  padding: 4px;
}

.navigation summary:hover {
  cursor: pointer;
  background-color: #2c2caf;
  color: white;
}

.navigation li {
  padding: 4px;
  margin-top: 5px;
}

.navigation li:hover {
  background-color: #000080;
  color: #fff;
  cursor: pointer;
}

.navigation video {
  width: 98%;
  margin: 0px -4px;
  margin-top: 251px;
  background-color: #929292;
  border-top: 3px solid #e9e9e9;
  border-left: 3px solid #e9e9e9;
  border-bottom: 3px solid #5e5e5e;
  border-right: 3px solid #5e5e5e;
}

.nav-link {
  display: flex;
  align-items: flex-start;
  list-style: none;
}

.text {
  word-wrap: break-word;
  line-height: 1.2;
}

.icons-navigation {
  margin: 0px 5px 00px -10px;
  padding: 0;
  width: 20px;
}

.icons-navigation-sub {
  margin: 0px 5px 0px 25px;
  padding: 0;
  width: 20px;
}

.taskbar {
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40px;
  background-color: #9e9e9ee5;
  display: flex;
  position: fixed;

  align-items: center;
  padding: 23px 5px;
  border-top: 2px solid #cfcfcf;
  box-shadow: inset 1px 1px 0 #fff;
  z-index: 999;
}

.start-button {
  background-color: #9e9e9ee5;
  width: 6%;
  border-top: 2px solid #e9e9e9;
  border-left: 2px solid #e9e9e9;
  font-family: "Courier New";
  display: flex;
  align-items: center; /*->Centra verticalmente el contenido */
  justify-content: center; /*->Centra horizontalmente el contenido */
  gap: 4px;
  background: transparent;
}

.start-button label {
  display: inline-flex;
}

.start-button:hover {
  background-color: #c0c0c0;
  border-bottom: 2px solid #d4d4d4;
  border-right: 2px solid #dadada;
  border-top: 3px solid #797979;
  border-left: 3px solid #7c7c7c;

  font-family: "Courier New";
}
